* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
  font-size: 12pt;
}

#root {
  width: 100vw;
  height: 100vh;

  max-width: 100vw;
  max-height: 100vh;

  background-color: rgba(210, 215, 210);

  display: flex;
  justify-content: center;
  align-items: center;
}
